body{

    color:rgb(0, 0, 0);
    /* background-image: url('https://t4.ftcdn.net/jpg/02/97/79/83/360_F_297798377_VB9egqGnRKcZxU53wybEHLRnnTrcvlAH.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}


#title{
    text-align: center;
}

h2{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

.sample-table{
    padding:5px;
    color:black;
    border-radius:2px;
}


.row1{
    display:flex;
    flex-direction: row;
    padding:5px;
}

.col1{
    display:flex;
    flex-direction: column;
    width:50%;
    padding:2px;
}

.col2{
    display:flex;
    flex-direction: column;
    width:50%;
    padding:2px;
    color:black;
}